/* TODO CSS 구현하기 */
body {
  background-image: url("assets/background/0.jpg");
  background-size: cover; /* 배경 이미지 크기를 컨테이너 크기에 맞게 조정 */
  background-position: auto; /* 배경 이미지의 위치를 중앙에 설정 */
  background-repeat: no-repeat; /* 배경 이미지의 반복을 방지 */
}
